[2019-02-15 21:55] saad-ali opened #3 "Add information to README for csi-driver-nfs"
Add the follow information:

* What version of CSI does this driver support
* What is the status of this driver (alpha).
* Which of the following (optional) features does this driver support:
   * dynamic provisioning
   * online resize or offline resize
   * block
   * snapshot
* Which AccessModes does this driver support?

/assign @prateekpandey14

[2019-02-15 22:01] saad-ali opened #4 "Create initial release of csi-driver-nfs"
1. Do some manual testing to ensure this NFS driver works as intended.
2. Create a `release-0.1` branch for kubernetes-csi/csi-driver-nfs
3. Cut an official release v0.1.0 release of this driver from the new branch.
4. Push a csi-driver-nfs:v0.1.0 container (either to quay or gcr.io whatever the Kubernetes CSI team decides)
  * Note that there is an existing container https://quay.io/repository/k8

[2019-02-15 22:03] msau42 commented on #4
Before we do that, we should also:
- [ ] Use release-tools for common process
- [ ] Remove dependency on csi-lib-common

cc @pohly

[2019-02-15 22:15] pohly commented on #4
I was about to suggest the same as @msau42.

One comment about branching: it is not necessary to start such a branch right away. The initial release can also be done from the master branch and then (if necessary) a maintenance branch can be created later.

[2019-03-14 19:07] sanjeevshar opened #7 "Image "quay.io/k8scsi/nfsplugin:v1.0.0" not found"
I was trying to deploy NFS driver but two pods failed to come up as it could not find nfsplugin image.

$ kubectl get pods
NAME                             READY   STATUS             RESTARTS   AGE
csi-attacher-nfsplugin-0         1/2     ImagePullBackOff   2          4m52s
csi-nodeplugin-nfsplugin-7ldnq   0/2     ImagePullBackOff   3          4m52s

$ kubectl describe pod csi-attacher-nfsplugin-0

[2019-04-13 15:33] sanjeevshar opened #8 "csi-attacher unable to connect to API server"
I tried the plugin on Ubuntu 16.04/Doecker 18.06/Kubernetes 1.13.4 and got the following error on cs0-attacher container. How do I debug this issue:

$ kubectl logs csi-attacher-nfsplugin-0 csi-attacher
I0413 14:55:39.129774       1 main.go:76] Version: v1.0.1-0-gb7dadac
I0413 14:55:39.131980       1 connection.go:89] Connecting to /csi/sockets/pluginproxy/csi.sock
I0413 14:55:39.136236       1 co

[2019-05-05 10:09] hoyho opened #11 "Support CreateVolume or DeleteVolume"
previously, I use nfs-client-provisioner from [repo](https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go) .
Except from the size, It works fine because it can provision and delete.
So I think if csi-driver-nfs should add this feature?
If yes, I can create a PR  or discuss more detail

[2019-05-16 22:46] msau42 commented on #4
/remove-lifecycle stale

[2019-06-07 16:41] msau42 commented on #3
/lifecycle frozen

[2019-06-07 16:43] msau42 commented on #3
@mathu97 could you help update the readme?

[2019-06-07 17:04] mathu97 commented on #3
@msau42 yes, will get on it.

[2019-06-12 20:20] msau42 commented on #7
Duplicate of #4

[2019-06-12 20:20] msau42 commented on #7
/close

[2019-06-12 20:20] #7 closed

[2019-08-07 03:58] hoyho commented on #11
/remove-lifecycle stale

[2019-09-10 17:23] #8 closed

[2019-09-29 01:14] hwchiu opened #18 "container image nfsplugin:v1.0.0 not found."
The container image **quay.io/k8scsi/nfsplugin:v1.0.0** doesn't exist and we can only find **quay.io/k8scsi/nfsplugin:v0.2.0** in [quay.io/k8scsi/nfsplugin](https://quay.io/repository/k8scsi/nfsplugin).

According to the image tag history displayed from the quay page. I only see tag v0.2.0 and canary

[2019-11-04 21:11] kfox1111 opened #19 "driver name csi-nfsplugin"
It is not following the convention of using a dotted name. This should probably be updated?

[2019-11-04 21:15] kfox1111 opened #20 "example provisioner"
It looks like this driver can be used separate from a dynamic provisioner. Some documentation on how to produce a csi provisioner that only does the CreateVolume/DeleteVolume part and uses the existing containers for the attach/mount.

[2019-11-27 01:15] msau42 commented on #4
/reopen
/lifecycle frozen
/help

[2020-01-04 05:32] #11 closed

[2020-01-30 02:35] msau42 commented on #4
In order to use csi-release-tools, we also need to switch to go mod too.
/help

[2020-01-30 16:58] wozniakjan commented on #4
I can try to convert this to go modules over the weekend unless anyone else wants to take that sooner

[2020-02-04 02:33] msau42 commented on #19
/remove-lifecycle stale
/help

[2020-02-04 02:34] msau42 commented on #18
This is being tracked by https://github.com/kubernetes-csi/csi-driver-nfs/issues/4
/close

[2020-02-04 02:34] #18 closed

[2020-03-09 14:29] wozniakjan commented on #4
@msau42 do you have any more steps in mind before the `v1.0.0` release? Btw. I think the tag of the first release should actually be `v1.0.0` instead of here proposed `v0.1.0` given this string is in the manifests to pull the docker image and also in one location in code.

I am afraid my account isn't authorized to create the release itself so it may need to be you to perform the final steps.

[2020-03-12 03:26] msau42 commented on #4
Can we also address these two issues?
https://github.com/kubernetes-csi/csi-driver-nfs/issues/19
https://github.com/kubernetes-csi/csi-driver-nfs/issues/3

[2020-03-12 03:27] msau42 commented on #4
I will look into making sure travis and prow are setup on this repo

[2020-03-12 07:19] wozniakjan commented on #4
sure thing, will do so by Monday

[2020-03-12 21:35] msau42 opened #25 "Update container base image"
quay security scan shows there's a lot of fixable issues

[2020-03-12 21:37] msau42 commented on #4
@wozniakjan one more issue I think should be done for the release: https://github.com/kubernetes-csi/csi-driver-nfs/issues/25

[2020-03-12 21:37] msau42 commented on #4
Also I just enabled prow pull jobs on this repo, and double checked travis and quay are setup to build and release images.

[2020-03-17 01:32] #25 closed

[2020-03-17 16:00] #19 closed

[2020-03-25 19:34] #3 closed

[2020-03-30 10:22] huchengze opened #30 "Support CreateVolume"
A complete csi plugin needs to finish its controllerserver.go
https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/pkg/nfs/controllerserver.go.

We can use the code in https://github.com/kubernetes-incubator/external-storage/blob/master/nfs-client/cmd/nfs-client-provisioner/provisioner.go as comparison.

[2020-04-02 23:31] #20 closed

[2020-04-08 13:26] wozniakjan commented on #30
Hi @huchengze, for now the development of this plugin is a little bit slower due to no dedicated full time maintainer, only few hobbyists slowly grinding through the unfinished tasks in their free time. No immediate plan for finishing that in next weeks afaik but if you'd like to submit a PR, we will gladly appreciate all help and review to successful merge :)

[2020-04-14 21:03] LilyaBu commented on #30
Hello! Is it possible to implement snapshot functionality for nfs csi driver?

[2020-04-15 09:58] LilyaBu opened #31 "Is it possible to implement snapshot functionality for nfs csi driver"
Hello! Is it possible to implement snapshot functionality for nfs csi driver? May be same as hostpath csi driver.

[2020-04-15 10:40] wozniakjan commented on #31
Hi, I believe it is possible but at the moment there is no plan to implement that quite yet. But if you'd like to take a stab at it, I will happily support you and review the code to get that merged.

[2020-04-15 13:29] LilyaBu commented on #31
Thank you. I interested in csi nfs because i would like to backup/restore  persistent volumes as cluster resources, not as app resource. As i understand this can be realised with StorageClass objects.

[2020-04-16 07:19] wozniakjan commented on #31
In the whole scheme of things, `StorageClass` definitely plays an important role, but it is rather connected with another feature - autoprovisioning of PVs.

Snapshots introduce own set of resources, https://kubernetes-csi.github.io/docs/snapshot-restore-feature.html is a great document to understand how snapshots under CSI work. This plugin will then need to figure out how to talk to the NFS serv

[2020-04-17 01:48] msau42 commented on #30
I do have an implementation of the nfs-client equivalent behavior that provisions subdirectories from an existing nfs server. I would be happy to contribute if you think the nfs-client-like provisioner is the way to go.

Another alternative is that the provisioner creates an entire nfs server, like the ganesha-based nfs external provisioner.

I think it would be hard for a single driver to support

[2020-04-17 07:49] wozniakjan commented on #30
that sounds like a solid implementation, I am in favor of supporting this approach. There might be a path to also support multiple NFS servers in cluster but I think it would make sense to have separate `StorageClass` for each NFS server and the plugin can obtain connection information from the `StorageClass`. Kind of like the old [ganesha provisioner](https://github.com/helm/charts/blob/6f598fa05

[2020-04-17 16:00] msau42 commented on #30
/reopen

[2020-04-17 16:01] msau42 commented on #30
/kind feature

[2020-04-17 17:50] LilyaBu commented on #31
Thank you for links and explanation.

[2020-04-17 17:52] msau42 commented on #30
Here's an example StorageClass for my nfs-client equivalent implementation:
[code]

You specify the nfs share you want to use as the "base". And with every CreateVolume call, it mounts that share, and creates a subdirectory under it, then unmounts it.

[2020-04-21 04:05] kmova commented on #30
I agree with this approach.

@msau42 @wozniakjan  - couple of questions related to the scope/implementation:

- Will csi-driver-nfs be considered a replacement for the in-tree NFS driver? Should it support:
  - Managing PV with NFS spec.
  - Managing PV with NFS spec that includes sub-directories

- What are the advantages of going with CSI driver approach for NFS sub directory volumes as opposed

[2020-04-22 01:42] msau42 commented on #30
I think from a driver point of view, we can't really tell the difference between a top level share and a subdirectory. The "share' in the volumeAttributes can be either:
[code]

The main advantages of the csi driver over the nfs-client external provisioner is that we can potentially support CSI-only features like snapshots and cloning, although a generic driver will be a bit limited in what we can

[2020-04-22 01:43] msau42 commented on #30
Supporting volume metrics is another useful feature. Do you know if "df" works if you mount a subdirectory in an nfs share?

[2020-04-24 22:11] msau42 commented on #30
/assign

[2020-04-24 22:12] msau42 commented on #4
A 2.0.0 has been released! Thanks @wozniakjan for all the work in finishing up all the last mile tasks!

/close

[2020-04-24 22:12] #4 closed

[2020-04-24 22:14] msau42 opened #33 "Enable k8s e2e tests in CI"
Once CreateVolume is supported, then it will be easier to run the K8s external storage e2e test suite.

One more challenge though is getting the nfs driver to run on a kind cluster. There may be some dependencies on kernel modules or system libraries.

[2020-04-25 06:39] kmova commented on #30
Typically, the `df -h` of a sub-directory will show the usage details of the main export path. Except for NFS implementations that can treat subdirectory as a separate volume.

`df -h` is useful when using full block devices. The information it provides can be misleading when using subdirectories. `du` is safer, but expensive when there are lots of subdirectories and files.

Example:

NFS Server d

[2020-04-27 07:34] wozniakjan commented on #31
/reopen
/assign

https://github.com/kubernetes-csi/csi-driver-nfs/issues/30#issuecomment-617496994 discusses an alternative direction to implement snapshots. I could see myself finding a little bit of time in following weeks to give that a shot.

[2020-05-02 04:58] BenTheElder commented on #33
cc

We need `nfs-common` right?
When we started kind lots of kernels couldn't do NFS-on-overlayfs IIRC you need 4.15+ but that's very common now..

I'm, looking at increasing e2e test coverage this quarter, NFS is a target on my list.

[2020-05-02 05:58] BenTheElder commented on #33
`nfs-common` is in the latest base image, and the k/k `\[Driver:.nfs\]` (excluding `\[Disruptive\]` tests pass

[2020-07-23 09:01] ensonic opened #38 "Simplify the example"
hi,
if I am not mistaken we don't need the label + selector in the example:
https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/examples/kubernetes/nginx.yaml#L5-L6
https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/examples/kubernetes/nginx.yaml#L29-L33

I am hesitant to sent a PR because I still did not got it to run on my kubeadm setup (1.16)

[2020-07-23 11:07] ensonic opened #39 "How to debug timeout after 2 min for trying to attach the volume"
Since the nfs example in
https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs
fails to resolve an in-cluster nfs server I was directed to try CSI based nfs and here I am. So I added the yaml from
https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/deploy/kubernetes
without any modification to my helm chart. The pv/pvc look like this to let me switch back and forth:
[code

[2020-07-23 11:42] wozniakjan commented on #38
hi @ensonic, you are correct that whenever you have a single unbound PV in cluster, the label selector doesn't play a big role. The situation changes slightly when there are couple of PVs provisioned for different storage. [The selector tries to ensure](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#selector) that the PVC won't get bound to any other storage matching the base requ

[2020-07-23 16:45] msau42 commented on #38
In the scenario that you want to reserve a PV for a specific PVC, it is recommended to set PV.Spec.ClaimRef instead of a selector.

[2020-07-23 16:50] msau42 commented on #39
If you created the PVC/PV before starting the CSI driver, you may be hitting the issue above.

Can you try recreating the Pod and PVC/PV?

[2020-07-24 07:48] ensonic commented on #39
Its indeed the ordering, but now I bump into the same problem as with the in-tree nfs:
[code]

[2020-07-24 09:55] ensonic commented on #39
I've split my helm chart into two. One to create the csi plugin (everything from https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/deploy/kubernetes + the nfs server) and a 2nd one to deploy a set of clients + pv + pvc and that kind of works, except that also the csi plugin cannot resolve an in cluster service name (nfs-server.nfs-server.svc.cluster.local).

Will check how the csi plugi

[2020-07-24 09:59] ensonic commented on #38
There are not many example for people using a ClaimRef and it seems to be not super straightforward to use (https://github.com/kubernetes/kubernetes/issues/23615).
Anyway, since the selector works, I think we can close this.

[2020-07-24 17:49] msau42 commented on #39
That's very odd. If you look at csi driver logs, how long does the NodePublishVolume call take?

[2020-07-28 08:45] ensonic commented on #39
The daemonset has 2 containers: node-driver-registrar and nfs. Both don't log anything during the mount operation. The 'node-driver-registrar' already runs with `--v=5', but there is not a lot of logging in the code.

[2020-08-14 13:33] andyzhangx commented on #30
I think we can do an [empty implementation](https://github.com/kubernetes-csi/csi-driver-smb/blob/46a935fd8f536563d76324c450c3c14796bf92a2/pkg/smb/controllerserver.go#L29-L42) first on `CreateVolume` func to support storage class first, that's what I have done on SMB CSI driver:
https://github.com/kubernetes-csi/csi-driver-smb/blob/master/deploy/example/e2e_usage.md#option1-storage-class-usage

Sh

[2020-08-19 13:35] andyzhangx opened #47 "fix sanity test failures"
- `make sanity-test`
[code]

[2020-08-24 18:54] #47 closed

[2020-08-25 12:58] wozniakjan commented on #31
/remove-lifecycle rotten
hoping to have some time in September finally to work on this.

[2020-09-13 09:08] andyzhangx opened #51 "add e2e test for this driver"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

Option#1, re-enable https://github.com/kubernetes-csi/csi-driver-nfs#running-kubernetes-end-to-end-tests-on-an-nfs-driver

Option#2 as below:

### 1. Install nfs-server-provisioner helm chart
 - following example would provision 100GB storage(one data disk) on an agent node, servin

[2020-09-15 17:37] msau42 commented on #30
/remove-lifecycle rotten

I haven't had time to work on this. If anyone is interested, I can push my incomplete workspace and someone can take over.

[2020-09-16 00:41] andyzhangx commented on #30
@msau42 could you push your code somewhere? I have one intern looking at this first.
And what about implement an empty CreateVolume first? that would support storage class first(still need bring your own nfs server first), refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/ca5f7e2fc6ae8cc49e9c47d3311eab0d8486d22e/pkg/smb/controllerserver.go#L28-L40

[2020-09-16 01:23] msau42 commented on #30
Here's my branch, happy to help walk through it if needed: https://github.com/msau42/csi-driver-nfs/commit/da0e3d682ea34fd8cbcdd042d0f88235dde61bb5

Re: empty CreateVolume, I think not supporting delete is a downside. I would rather try to go with nfs-client behavior (which I think is close) instead of adding this and having people depend on it, and then removing it in the future.

[2020-09-16 01:38] andyzhangx commented on #30
@msau42 thanks, I see, I will start with an e2e test first and then continue with this PR, I see this PR is close to complete, thanks.

[2020-10-01 01:34] msau42 commented on #33
/reopen
/remove-lifecycle rotten

[2020-10-06 11:43] boddumanohar commented on #51
/assign

[2020-10-06 17:04] msau42 commented on #51
You may want to double check what https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/test/csi-volumes.go is already doing

[2020-10-08 09:13] andyzhangx opened #55 "create an nfs provisioner example"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

there is already a nfs server container here: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/test/nfs-testdriver.go#L113

could you follow this doc: https://github.com/kubernetes-csi/csi-driver-smb/tree/master/deploy/example/smb-provisioner, to set up a similar nfs se

[2020-10-09 06:13] mayankshah1607 commented on #55
/assign

[2020-10-10 01:36] #55 closed

[2020-10-14 09:39] mayankshah1607 opened #64 "test: Enable Windows and Darwin unit tests on GH Actions"
Once https://github.com/kubernetes-csi/csi-driver-nfs/pull/53 is merged, we would want to run unit tests on Windows and Darwin as a part of Github Actions

Example - https://github.com/kubernetes-csi/csi-driver-smb/tree/master/.github/workflows

/cc @andyzhangx

[2020-10-14 09:39] mayankshah1607 commented on #64
/assign

[2020-10-14 10:08] mayankshah1607 opened #65 "CI: add the required artifacts to run `post-csi-driver-nfs-push-images`"
Currently we have a [prow job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/k8s-staging-sig-storage.yaml#L63) for pushing images to http://gcr.io/k8s-staging-sig-storage
We need to create a symlink `cloudbuild.yaml` and  `cloudbuild.sh` from release tools for this job to run successfully

Example - https://github.com/kubernetes-csi/csi-driver-host-path

/cc @andyz

[2020-10-14 12:11] #65 closed

[2020-10-18 14:48] #30 closed

[2020-10-19 07:17] mayankshah1607 opened #67 "fix `post-csi-driver-nfs-push-images` job"
https://github.com/kubernetes-csi/csi-driver-nfs/pull/66 added symlinks for `cloudbuild.yaml` and `cloudbuild.sh` to run the `post-csi-driver-nfs-push-images` job. However, this job is failing, with logs as follows:

[code]

[2020-10-22 08:17] ghost opened #70 "Can this driver create persistent volumes automatically, when a persistent volume claim request is created ?"
This scenario is use full in case of stateful set deployments where VolumeClaimTempletes are created
if this possible , please let me know how to implement it
Thank You

[2020-10-23 01:10] msau42 commented on #70
createvolume support was recently added in https://github.com/kubernetes-csi/csi-driver-nfs/pull/53. It creates subdirectories from an existing nfs server. Does that address your use case?

[2020-10-23 09:36] lordcf commented on #70
I am using CFCR cluster with AWS as IaaS and EFS as persistent volume storage
earlier i was using efs-provisioner to manage storage request.
What I want is when ever a persistent volume claim request is made by user , efs driver should automatically create persistent volume object for it without any manual intervention
Is that possible?
As of now we have to create a PV after deploying driver and i

[2020-10-23 16:46] msau42 commented on #70
For efs, my understanding is it requires a special mount.efs, which won't work with this driver which is mainly for general nfs servers. I would suggest asking in https://github.com/kubernetes-sigs/aws-efs-csi-driver

[2020-10-27 06:46] lordcf commented on #70
hey @msau42 than you for your response. In our case we are using CFCR cluster and as far as I now aws-efs-csi driver is specific to aws eks cluster

[2020-10-27 16:50] msau42 commented on #70
The efs driver can be used in any aws based Kubernetes ctuster

[2020-10-29 13:44] lordcf commented on #70
Hi @msau42  , I downloaded the latest version of this repo with create volume changes and tried to deploy but controller pods are going into crashloop backoff state with  following logs  on csi-provisioner and liveliness container
1 connection.go:170] Still connecting to unix:///csi/csi.sock

[2020-10-31 01:59] msau42 commented on #70
does the nfsplugin have any error messages? Are you using canary image?

[2020-11-02 09:23] lordcf commented on #70
Hi @msau42 above issue is resolved by changes mount paths. but how will this create persistent volume on persistent volume claim request

[2020-11-14 05:14] songjiaxun opened #83 "Sanity test is not idempotent"
**What happened**:
If you ran the sanity test twice, one test would fail. Seems like one volume is not mounted.
`sudo umount -f /tmp/aa*` helps.

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
-

[2020-11-16 00:54] songjiaxun opened #84 "Errors when create new volume"
**What happened**:

**In the Sanity test logs, I found a couple of errors:**
[code]
**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2020-11-16 01:05] songjiaxun opened #85 "Add unit tests for the driver code"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2020-11-16 06:34] mayankshah1607 opened #90 "CI: Enable go linter in GH Actions"
Enable go linter as a GH Actions workflow under `static.yaml` (Similar to - https://github.com/kubernetes-csi/csi-driver-smb/blob/master/.github/workflows/static.yaml). However, the check will still fail as the code in this repository has many linting errors which need to be fixed.

[2020-11-16 06:36] mayankshah1607 commented on #51
I think https://github.com/kubernetes-csi/csi-driver-nfs/pull/79 closes this issue. Is anything else pending?

[2020-11-16 06:38] #51 closed

[2020-11-17 02:29] andyzhangx opened #93 "add livenessprobe for driver node deployment"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/de292c34a09dd3e5c342b232e5f89c90137643c7/deploy/csi-smb-node.yaml#L24-L40

**Describe alternatives you've considered**

**Additional context**

[2020-11-17 02:31] andyzhangx opened #94 "fix broken cloud build job for nfs driver"
**What happened**:

fyi, we disabled the cloud build job for nfs because it has never passed:
https://github.com/kubernetes/test-infra/pull/19937/files#diff-6572b562b74e036959cc413b3e4b7eb275f82e89218a1b1eb36a3dfb136348cdR39

https://k8s-testgrid.appspot.com/sig-storage-image-build#post-csi-driver-nfs-push-images

Can you help fix the job?

**What you expected to happen**:

**How to reproduce it**

[2020-11-17 02:49] andyzhangx commented on #90
I hit that too:
[code]

[2020-11-17 06:06] mayankshah1607 commented on #94
I think this may be a duplicate of https://github.com/kubernetes-csi/csi-driver-nfs/issues/67

[2020-11-17 06:07] andyzhangx opened #96 "add more unit tests"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

add more unit tests for https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/pkg/nfs
could refer to https://github.com/kubernetes-csi/csi-driver-smb/tree/master/pkg/smb

**Describe alternatives you've considered**

**Additional context**

[2020-11-17 11:30] #83 closed

[2020-11-18 00:55] #84 closed

[2020-11-18 00:55] #85 closed

[2020-11-18 10:05] mayankshah1607 commented on #96
/assign

[2020-11-19 03:30] #93 closed

[2020-11-24 09:11] #96 closed

[2020-11-25 14:21] andyzhangx commented on #90
@mayankshah1607 it's done, right?

[2020-11-25 14:21] andyzhangx commented on #64
it's done, right?

[2020-11-25 14:22] andyzhangx commented on #33
basic e2e tests are added in CI

[2020-11-25 14:22] #33 closed

[2020-11-26 01:18] #94 closed

[2020-11-26 01:18] #67 closed

[2020-11-26 07:31] #64 closed

[2020-12-02 10:52] #90 closed

[2020-12-06 16:11] kaeltis opened #111 "Support automatic PV deletion and storage cleanup with reclaimPolicy: Delete"
**Is your feature request related to a problem?/Why is this needed**
According to the example files this CSI Driver (which seems to be the only one available for NFS) only supports `reclaimPolicy: Retain`, if I understand correctly this means after deleting a PVC it's associated PV has to be removed manually and even after removing the PV the created files and directories are not deleted from the

[2020-12-07 19:05] msau42 commented on #111
This will be supported with https://github.com/kubernetes-csi/csi-driver-nfs/issues/30

We have not released a driver yet with this change, but you can try it out on canary.

[2020-12-08 14:12] kaeltis commented on #111
Ah, missed that, thanks!

[2020-12-08 14:12] #111 closed

[2020-12-08 19:04] thiagodasilva opened #112 "NFS mount point becomes unresponsive after restarting csi node pod"
**What happened**:
NFS mount point becomes unresponsive after restarting csi node pod

**What you expected to happen**:
NFS mount point should continue to be accesible after csi node pod is restarted

**How to reproduce it**:
 - Deploy csi driver and use nginx.yaml example to deploy application pod.
 - Check application pod is running and verify nfs mount is accessible.
 - Delete the csi node pod,

[2020-12-08 19:37] TiLogic opened #113 "StorageClass mountOptions not being applied to mount arguments"
**What happened**:
NFS mountOptions not applied, causing NFS mount to fail.
[code]

Options: **`{"mount_flags":["vers=3","nolock"]}}`**
Output: **`Mounting arguments: -t nfs 10.0.0.58:/Users/user/dev/exports /tmp/pvc-85810e45-fc85-4dd7-8f63-a27b897104f9`**

**What you expected to happen**:
NFS mount options to be applied to the `mount` command.

**How to reproduce it**:
The following StorageClass

[2020-12-09 21:59] thiagodasilva commented on #112
The issue was solved by updating the deploy spec to use:
[code]

[2020-12-09 21:59] #112 closed

[2020-12-13 15:50] eliyahu77 opened #114 "production ready and external NFS support ."
HI * ,

I want to know if there any target that the nfs plugin will be supported on k8s for production envs.

and i want to know also if this plugin supported external nfs v4/ nfs v3 , that not installed on the k8s cluster .

BR Eliyahu

[2020-12-14 09:08] henderiw opened #115 "flag enable-leader-election not supported any longer"
we should update the charts to comply to the latest csi-provisioner image
possible fix:

containers:
        - name: csi-provisioner
          image: "{{ .Values.image.csiProvisioner.repository }}:{{ .Values.image.csiProvisioner.tag }}"
          args:
            - "-v=5"
            - "--csi-address=$(ADDRESS)"
            - "--leader-election"
            #- "--leader-election-type=leases"

[2020-12-19 09:46] malikumaliku opened #116 "mixed clusters (windows+linux)"
I am doing some tests with this diver and Helm on a windows+linux cluster.
However, the csi-nfs-node also gets triggered on windows nodes.

Could you hardcore a node selector for csi-nfs-node, or have a way to set a nodeselector via a Helm config override?

[2020-12-21 11:56] #38 closed

[2020-12-25 10:30] #39 closed

[2020-12-25 14:29] andyzhangx commented on #116
@dr0pdb could you help? could refer to setting in smb driver.

[2020-12-25 14:30] andyzhangx commented on #114
currently this project is still alpha, and we will publish a beta release soon. GA time could be later, not decided yet.

[2020-12-25 14:31] andyzhangx commented on #114
and about nfs v4/ nfs v3 support, this driver should supports both, there is no hardcoded setting in this driver so both protocols should be supported.

[2020-12-25 14:43] dr0pdb commented on #116
/assign

[2020-12-27 03:39] andyzhangx opened #121 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

unit test coverage is now 72%:

https://coveralls.io/github/kubernetes-csi/csi-driver-nfs

![image](https://user-images.githubusercontent.com/4178417/103163361-1dc8cf00-4838-11eb-8989-3a1d4837e030.png)

**Describe alternatives you've considered**

**Additional context**

[2020-12-27 13:03] andyzhangx opened #123 "implement node get stat"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to: https://github.com/kubernetes-sigs/blob-csi-driver/pull/293

**Describe alternatives you've considered**

**Additional context**

[2020-12-27 13:13] andyzhangx commented on #115
the csi-provisioiner is already using v2.0.4 which is a relatively new image:
https://github.com/kubernetes-csi/csi-driver-nfs/blob/683838d7bb83b62b8763a4661b315203b8005b52/charts/latest/csi-driver-nfs/values.yaml#L6-L8

https://github.com/kubernetes-csi/csi-driver-nfs/blob/683838d7bb83b62b8763a4661b315203b8005b52/charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml#L28-L33

Usually we d

[2020-12-27 13:24] #113 closed

[2020-12-27 13:27] andyzhangx commented on #113
already fixed in master branch, e2e logs shows mountOptions are respected in CreateVolume:
[code]

While there is issue in DeleteVolume since it cannot get mountOptions by design.

[2020-12-27 13:33] andyzhangx commented on #70
@lordcf could you make sure your nfs server config is correct? You could manually check by `mount -v -t nfs -o ... nfs-server:/path mount-path` and if there is error in driver side, check by https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/csi-debug.md#csi-driver-debug-tips

[2020-12-27 14:24] dr0pdb commented on #116
@andyzhangx @malikumaliku
I think https://github.com/kubernetes-csi/csi-driver-nfs/pull/117 fixed this issue. We do have a node selector specified to deploy only on Linux nodes.

[2020-12-27 14:25] #116 closed

[2020-12-27 14:37] dr0pdb commented on #121
/assign

[2020-12-27 16:05] harshika-arya commented on #123
/assign

[2020-12-28 01:43] #115 closed

[2020-12-28 14:39] TiLogic commented on #113
Many thanks!

[2021-01-01 16:13] harshika-kashyap commented on #123
@andyzhangx Can we upgrade the `k8s.io/kubernetes` version to `v1.21.0-alpha.0.0.20201210005053-f58c4d8cd725`? Current version 1.19 doesn't contain `k8s.io/kubernetes/pkg/volume`, which is required for getting file system metric stats.

[2021-01-02 00:47] andyzhangx commented on #123
addressed by https://github.com/kubernetes-csi/csi-driver-nfs/pull/125

[2021-01-02 12:09] harshika-kashyap commented on #123
@andyzhangx `k8s.io/kubernetes/pkg/volume` is still missing from the vendor directory. Also,  FYI `k8s.io/kubernetes/pkg/securitycontext` and `k8s.io/kubernetes/pkg/proxy/util` are missing from vendor as well. I'm not sure why.

NFS vendor: https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/vendor/k8s.io/kubernetes/pkg

Blob vendor: https://github.com/kubernetes-sigs/blob-csi-driver/tree

[2021-01-02 14:08] andyzhangx commented on #123
I think you could reference `NodeGetVolumeStats` implementation in blob csi driver first:
https://github.com/kubernetes-sigs/blob-csi-driver/blob/3c8cc7159f6a9f43fe0fb777b12b46f81a0b43b1/pkg/blob/nodeserver.go#L267

why do you need `securitycontext` package, I did not find it in blob csi driver.

[2021-01-02 15:08] harshika-kashyap commented on #123
I have looked at blob csi driver. I only need `k8s.io/kubernetes/pkg/volume`, which is not present in nfs vendor directory (https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/vendor/k8s.io/kubernetes/pkg).

[2021-01-03 12:29] andyzhangx commented on #123
that's not necessary, just add that dir in the .go file, and then run `go mod tidy; go mod vendor`, it will vendor that dir automatically. I have already worked out a PR#126

[2021-01-03 12:54] #123 closed

[2021-01-03 13:19] andyzhangx opened #128 "enable spelling and boilerplate check"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

https://github.com/kubernetes-csi/csi-driver-nfs/pull/127 disabled following two checks:
 - verify-spelling.sh
 - verify-boilerplate.sh

need to upstream the above two scripts to https://github.com/kubernetes-csi/csi-release-tools.git and then re-enable these two scripts in this pr

[2021-01-04 04:21] #121 closed

[2021-01-05 08:45] andyzhangx commented on #128
@sachinkumarsingh092 could you help? thanks.

[2021-01-05 20:20] sachinkumarsingh092 commented on #128
So we just have to push the `hack/boilerplate`, `hack/verify-spellcheck.sh` and `hack/boilerplate.sh` to https://github.com/kubernetes-csi/csi-release-tools.git, modify the `build.make` there to include these tests and after this is merged we can `git subtree pull` it for out repo. It this correct or am I missing something?

/assign

[2021-01-06 01:47] andyzhangx commented on #128
correct, thanks.

[2021-01-09 12:55] malikumaliku commented on #116
fix confirmed

[2021-01-11 03:12] andyzhangx opened #131 "provide more driver info in logs"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-smb/blob/a9a2e47b1790b18e722e9d0b4d413c4e8a520507/pkg/smb/smb.go#L54-L58

[code]

**Describe alternatives you've considered**

**Additional context**

[2021-01-11 14:09] MagicRB opened #132 "Tests fail on NixOS"
**What happened**:
Test case `test/e2e/e2e_suite_test.go:157` fails when buiding with Nix

**What you expected to happen**:
I expected tests to succeed as checking if the project directory ends in `csi-driver-nfs` doesn't make sense

**How to reproduce it**:
Try to build `csi-driver-nfs` on NixOS with `pkgs.buildGoModule` and you'll encounter this fun bug

**Anything else we need to know?**:

**En

[2021-01-11 14:19] andyzhangx commented on #132
hi @MagicRB would you submit a PR directly? thanks.

[2021-01-11 14:20] andyzhangx commented on #132
and you could also contribute how to build this project in NixOS

[2021-01-11 14:21] MagicRB commented on #132
I really don't want to go through the license agreement stuff, so unfortunately not at this time

[2021-01-11 14:23] andyzhangx commented on #132
while I don't have NixOS, not sure how to fix this.

[2021-01-11 14:25] MagicRB commented on #132
and another issue has cropped up, `test/e2e/e2e_suite_test.go:26:2: imported and not used: "strings"` which is really an easy fix as the first one. And as to NixOS building, that should really go into [nixpkgs](https://github.com/NixOS/nixpkgs), which I'll do at some point.

there really only two things, which we can do, either delete that project name check or disable tests as I can't tell Nix to

[2021-01-11 14:29] andyzhangx commented on #132
cc @dr0pdb

[2021-01-11 19:09] MagicRB commented on #132
BTW, I pushed the Docker container builder to my Gitea [instance](https://gitea.redalder.org/RedAlder/systems), the builder builds this driver from Nix. It's easy to extract the Nix package from that. The advantage over regular Dockerfiles is truly reproducible builds and (generally) smaller images, seems to not be that pronounced with go apps

[2021-01-16 13:01] #128 closed

[2021-01-29 21:25] gnufied opened #142 "Why does this driver implements NO-OP `NodeStage`?"
I was just reading the code and this driver seems to be implementing NO-OP `NodeStage` - https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/pkg/nfs/nodeserver.go#L216 ?

Why do we do that? If we implement `NodeStage` to save mounts then shouldn't we do actual mount and some kind of reference counting?

cc @andyzhangx @jsafrane

[2021-01-30 01:41] andyzhangx commented on #142
should return error, while it does not introduce any bug since NodeStage cap is not enabled:
https://github.com/kubernetes-csi/csi-driver-nfs/blob/6b9f0d4526f3196a9f0592e25538d8e0fca9a5be/pkg/nfs/nfs.go#L86-L88

anyway, I will fix this issue.
/assign

[2021-02-04 10:47] #142 closed

[2021-02-04 10:48] andyzhangx opened #148 "implement Ephemeral Inline Volumes support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

refer to
https://kubernetes-csi.github.io/docs/ephemeral-local-volumes.html#which-feature-should-my-driver-support

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 08:34] #131 closed

[2021-02-06 06:23] boddumanohar opened #152 "exportfs: /exports does not support NFS export"
**What happened**:
I took a fresh ubuntu 20 VM on my local `kind` k8s cluster and installed the csi driver using the command:
[code]
after that I tried to instal nfs server by applying the YAML
[code]
but then the container doesn't start. I get this error in pod logs
[code]

**What you expected to happen**:
I expect the above YAML to work as it is. I tried the same on MacOS also even then I get th

[2021-02-06 07:22] boddumanohar commented on #148
Generic ephemeral volumes feature was alpha in Kubernetes 1.19. A CSI driver is suitable for generic ephemeral inline volumes if it supports dynamic provisioning of volumes.  It creates PVCs underneath so any CSI driver that supports PVCs will work without any special support. As dynamic volume provisioning feature is already there in csi-driver-nfs, I think we already have support for this.

more

[2021-02-09 16:31] viktoriaas opened #154 "PVC not provsioned because file exists"
**What happened**:
I deployed PVC with deployment and PVC did not create although the directory on NFS server was created.

**What you expected to happen**:
The PVC gets created

**How to reproduce it**:
It's an unstable behaviour, sometimes it happens and sometimes not. Today I deployed 4 PVCs at once and one of them ended in this state. Logs:
[code]

**Anything else we need to know?**:

**Enviro

[2021-02-10 11:27] viktoriaas opened #155 "Process killed because out of memory"
**What happened**:
When I try to create multiple PVCs at once, the process inside NFS controller is killed because memory cgroup is out of memory

[code]

**What you expected to happen**:
PVCs are created.
**How to reproduce it**:
I think it is sufficient to request more resources than [this file](https://github.com/kubernetes-csi/csi-driver-nfs/blob/87e6ba8084bb7ddcaec8e79ae35dccdff0943c87/charts

[2021-02-10 12:44] andyzhangx commented on #155
so double the csi-provisoner memory limit would work?
https://github.com/kubernetes-csi/csi-driver-nfs/blob/87e6ba8084bb7ddcaec8e79ae35dccdff0943c87/charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml#L44-L47

[2021-02-10 13:20] viktoriaas commented on #155
Doubling would work, container is requesting at least 156Mi so 200Mi should be fine.

[2021-02-11 02:50] andyzhangx commented on #154
fixed by https://github.com/kubernetes-csi/csi-driver-nfs/pull/156, pls try master branch again, thanks.

[2021-02-11 02:50] #154 closed

[2021-02-11 03:41] #155 closed

[2021-02-12 12:34] viktoriaas commented on #155
Hi,
in the end, it didn't help.
[code]
I wanted to create 4 PVCs.

[2021-02-12 12:46] viktoriaas opened #158 "Creating PVCs still results in memory fail"
**What happened**:
Hi,
in the end, doubling the memory limit didn't help. (#155 )
[code]
I wanted to create 4 PVCs. I resized to 1000Mi. It might be that the more PVCs you want to create at once, the more memory you need. This could be specified somewhere as some deployments are burstable and will have to create multiple PVCs at once

**What you expected to happen**:
create PVCs

**How to reproduc

[2021-02-12 13:46] andyzhangx commented on #158
I think we should set `nfs` memory limit as 1000Mi, not `csi-provisioner`

[2021-02-19 14:02] andyzhangx opened #162 "add subPath e2e test"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-02-20 13:39] andyzhangx opened #165 "add imagePullsecrets in helm chart"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

**Describe alternatives you've considered**

**Additional context**

[2021-03-09 13:44] chessman opened #171 "Docs: volumeAttributes clarification"
**What happened**:

[Here](https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/driver-parameters.md) I see `volumeAttributes.source` parameter. But [here](https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/pv-nfs-csi.yaml) there is `volumeAttributes.server` instead.

**What you expected to happen**:

I guess, `volumeAttributes.server` is correct and `volumeAt

[2021-03-11 11:58] curx opened #173 "csi-nfs-controller on the same node, gives a CrashLoopBackOff"
**What happened**:

deployed the csi-driver-nfs on a cluster via `kubectl apply -f ...` and the static manifests.

**What you expected to happen**:

All pods are running in a healthy state.

**How to reproduce it**:

Deploy the manifest.

**Anything else we need to know?**:

both pod are scheduled on one node, but this is a 5 node cluster, three control-plane, and two workers.
[code]

**Environmen

[2021-03-11 13:50] andyzhangx commented on #171
it should be `server`, doc updated: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/driver-parameters.md

[2021-03-11 13:50] #171 closed

[2021-03-13 13:52] #173 closed

[2021-03-17 06:10] #158 closed

[2021-03-18 07:18] malikumaliku opened #176 "allow to specify NFS version, or is there any workaround?"
The csi-driver-nfs always try a NFSv4 connection.

When trying to connect to a NFSv3 only server it fails.

If I do tests from a linux machine to connect to this NFS server

`root@ubuntu1804:/home/irispulse# mount -v -t nfs 192.168.123.1:/ /mnt           mount.nfs: timeout set for Thu Mar 18 07:18:43 2021
mount.nfs: trying text-based options 'vers=4.2,addr=192.168.123.1,clientaddr=192.168.123.129'

[2021-03-18 07:23] andyzhangx commented on #176
try `mountOptions`:
https://github.com/kubernetes-csi/csi-driver-nfs/blob/c1bf3bbcb87b8520f462025ac7aca2e445fc6ef4/deploy/example/storageclass-nfs.yaml#L12-L14

[2021-03-19 09:01] malikumaliku commented on #176
Thanks, its work !

[2021-03-19 09:01] #176 closed

[2021-03-21 17:01] ghost opened #178 "nfsv3 stat support"
When connecting to an NFS server and specifying the nfsvers=3 option the nfs logs complain that there is no support for locks.
Could it be possible to have also the statd/rpcbind service running in the nfs container?

`
E0321 16:55:41.811304       1 utils.go:91] GRPC error: rpc error: code = Internal desc = failed to mount nfs server: rpc error: code = Internal desc = mount failed: exit status 32

[2021-03-23 04:25] boddumanohar commented on #178
@malikumaliku could you please post the steps to reproduce this?

[2021-03-23 10:16] boddumanohar commented on #178
/assign

[2021-04-07 09:17] andyzhangx commented on #165
@boddumanohar could you help? thanks.

[2021-04-07 09:18] andyzhangx commented on #162
@boddumanohar could you help? thanks.

[2021-04-08 06:15] #162 closed

[2021-04-08 10:40] xhejtman opened #183 "Specify owner of NFS dir"
**Is your feature request related to a problem?/Why is this needed**

PV is owned by root:root with access rights either 0700 or 0777, none is good solution. Would it be possible to specify owner and rights of PV in PVC request?

You can use initcontainer if security policy is not applied, you are out of luck if it is applied.

[2021-04-08 11:24] andyzhangx commented on #183
may use https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2021-04-08 12:47] xhejtman commented on #183
I do not think this is an option. I cannot set runAsRoot (pod security in place) and volume is owned by root.

[2021-04-08 13:22] juergenthomann opened #184 "Problems when using share with multiple folders"
**What happened**:
There are errors in the logs like the following when using a share in a storage class that contains multiple folders. It causes for example the following message:
controllerserver.go:120] failed to get nfs volume for volume id 10.128.134.206/data/kubernetes/k8sdev/pvc-8b8929dc-d172-441b-b4ce-2659e5906ba0 deletion: volume id "10.128.134.206/data/kubernetes/k8sdev/pvc-8b8929dc-d17

[2021-04-09 07:14] xhejtman commented on #183
I do not think you can run chmod in initContainer as you cannot runAsRoot if podsecurity is in place, can you? However, the csi nfs driver creates the pvc dir and sets 0777 access rights on it (can be seen in the go code). Would it be possible to change the code so that it sets access rights and/or owner as set in PVC spec? I mean is it technically possible? Or there is no chance to add such an op

[2021-04-09 07:28] andyzhangx commented on #183
We can only add new parameters in storage class and then pass it in `CreateVolume` to set access rights
https://github.com/kubernetes-csi/csi-driver-nfs/blob/b53f765682fb8dc667e2869adf81200aead2a289/pkg/nfs/controllerserver.go#L103-L105

https://github.com/kubernetes-csi/csi-driver-nfs/blob/b53f765682fb8dc667e2869adf81200aead2a289/deploy/example/storageclass-nfs.yaml#L7-L9

[2021-04-09 07:33] xhejtman commented on #183
So there is no chance to specify it in PVC (I mean with adding appropriate code to the CSI driver)?

Storage class is global, PVC is user specific so the user can choose which UID should be the owner.

[2021-04-09 07:36] andyzhangx commented on #183
UID should be specified in mount process, while NFSv4 does not support set UID in mount, not sure how to achieve this
cc @msau42 any idea?

[2021-04-09 07:41] xhejtman commented on #183
the csi driver can run chown on its own as it runs in root context when creating the pvc dir, cannot it?

[2021-04-10 01:14] andyzhangx commented on #183
I think yes, and there is a driver flag to set dir permission, I think we could add more parameters in driver to support self defined dir_mode, gid, uid, etc, will take a look later.

https://github.com/kubernetes-csi/csi-driver-nfs/blob/3e9ef1e80d7b32af5a14189fc5c052c561fce895/cmd/nfsplugin/main.go#L33

[2021-04-10 01:50] msau42 commented on #183
If gid is sufficient, then you can opt into fsgroup support: https://kubernetes-csi.github.io/docs/support-fsgroup.html

However with shared volumes like nfs, you need to be careful that all pods sharing it will have the same gid.

[2021-04-10 08:24] xhejtman commented on #183
nice, but this is useful only, if you can set dir permission in persistentvolumeclaim specification, because you would need to create new storage class for every permission and uid/gid you want to use, don't you?

we have one nfs storage class for all k8s users. Every user can create his own pvc spec to get dynamicaly providioned volume. So if you can specify permissions in storage class only, it

[2021-04-12 18:16] xhejtman opened #187 "wrong umask in nfs-controller pod"
It seems that current nfs-controller pod has umask 0022 which leads to PV created with access rights 0755. Is this desired? I guess not according to source codes:

if err = os.Mkdir(internalVolumePath, 0777); err != nil && !os.IsExist(err) {

should it be fixed to either allow set umask or set umask forcibly to 0000?

[2021-04-13 08:29] andyzhangx commented on #187
not sure what do you mean, I think you could submit a PR and then review, thanks.

[2021-04-13 12:06] xhejtman commented on #187
Ok, I try to explain it a bit more first, not sure if it is a real bug or not.

https://github.com/kubernetes-csi/csi-driver-nfs/blob/b53f765682fb8dc667e2869adf81200aead2a289/pkg/nfs/controllerserver.go#L103-L105

this code should create volume with access rights 0777. Unless umask is set.

It seems that rke1/2 containers have umask set to 0022 which means that persistent volumes are created with

[2021-04-13 13:53] xhejtman commented on #187
I tried workadound with -mount-permissions, but no luck either:

[code]

[2021-04-14 02:22] #184 closed

[2021-04-21 14:11] mdbooth opened #188 "CVE-2021-3121 is present in dependencies"
[CVE-2021-3121](https://nvd.nist.gov/vuln/detail/CVE-2021-3121) is a vulnerability in gogo/protobuf versions <1.3.2. Note that as the bug is in a code generator it can't be fixed by bumping a dependency. Fixing it requires all dependencies, transitively, to update and regenerate code, then we need to pull in updated versions of our direct dependencies.

In the case of this driver all the vulnerabl

[2021-04-21 21:00] msau42 commented on #188
We use grpc/protobuf in CSI too. Does the csi spec need to be regenerated? cc @jsafrane

[2021-04-21 21:27] mdbooth commented on #188
No, it was only gogo/protobuf

[2021-04-24 18:30] boddumanohar commented on #152
this is working as expected now.

[2021-04-24 18:30] #152 closed

[2021-04-24 18:31] boddumanohar commented on #148
should we rename this issue to `implement Generic ephemeral volumes support`?

[2021-04-24 18:36] boddumanohar commented on #165
I don't see `imagePullsecrets` being used anywhere. Could you please help point me to the exact location where it needs updated?

[2021-04-24 19:05] boddumanohar commented on #165
/assign

[2021-04-27 12:33] #188 closed

[2021-05-01 11:11] boddumanohar commented on #165
/close

[2021-05-01 14:33] #165 closed

[2021-05-18 12:13] stuart-c-moore opened #199 "No Arm support for the livenessprobe and csi-provisioner images"
**What happened**:

When trying to run the csi-driver-nfs on an Arm system (Raspberry Pi):

[code]

**What you expected to happen**:

Image should be pulled successfully on arm platforms

**How to reproduce it**:

On a Raspberry Pi4, Running Raspbian OS 10 (Buster), using the latest version of k3s:

[code]

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: `latest`
- Kube

[2021-05-18 12:35] andyzhangx commented on #199
according to https://github.com/kubernetes-csi/livenessprobe/issues/89#issuecomment-737538792, `k8s.gcr.io/sig-storage/livenessprobe:v2.1.0`  already supports ARM

[2021-05-19 11:59] stuart-c-moore commented on #199
So, apparently not:

[code]

Should this issue be moved to the livenessprobe and csi-provisioner repos?

[2021-05-19 12:09] andyzhangx commented on #199
cc @msau42

[2021-05-19 13:16] Shaked opened #200 "Multiple pods ReadWriteMany mount with static provisioning"
**What happened**:

Hey, I'm trying to use https://github.com/kubernetes-csi/csi-driver-nfs with a static provisioning while I want to have multiple pods to mount a ReadWriteMany NFS server. Unfortunately the pods always get stuck in ContainerCreating  with the following error:

   Warning  FailedMount             3m40s (x1662 over 48m)  kubelet                     MountVolume.SetUp failed for vol

[2021-05-19 14:27] #200 closed

[2021-05-19 14:40] andyzhangx commented on #200
already fix on master branch, pls try again, make sure that `latest` image is downloaded on your node(set `imagePullPolicy: true`)

[2021-05-19 23:38] msau42 commented on #199
When I inspect the image, I do see `arm64` manifests:
[code]

[2021-05-20 13:23] stuart-c-moore commented on #199
ah, I'm not using arm64 though, I'm using armv7. Arm64 support for Raspberry Pi's is still in beta, hence being stuck on armv7 for a while.

Are there any plans to support this?

[2021-05-21 10:17] stuart-c-moore commented on #199
I'm happy to test any new armv7 images, however I have no experience the the build process used in that repo.

Is it just a case of adding `linux arm -arm` to prow.sh in a PR? (I assume the architecture name is `arm`, looking at https://golang.org/doc/install/source.

Would it really be as simple as https://github.com/stuart-c-moore/csi-release-tools/pull/1 ?

[2021-05-24 15:49] #114 closed

[2021-05-26 15:04] #70 closed

[2021-06-05 16:53] benji1664 opened #207 "RedHat 8.4 not supported"
Hello,

I am writing you regarding a bug I have noticed.
Using EC2 instances on AWS, I tried to run the example (nginx-pod.yaml).
Everything works perfectly on Ubuntu (18.04.1) and REDHAT 8.3 (4.18.0-240.15.1.el8_3.x86_64) but I have the following error for REDHAT 8.4 (4.18.0-305.el8.x86_64):

Unable to attach or mount volumes: unmounted volumes=[pvc-nginx], unattached volumes=[pvc-nginx kube-api-

[2021-06-06 01:20] andyzhangx commented on #207
pls provide driver node logs on that agent node, follow by: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-06-06 10:47] benji1664 commented on #207
Thanks for the quick answer.
This is the log i'm getting on REDHAT 8.4 (4.18.0-305.el8.x86_64) for the csi-nfs-node:

[code]

[2021-06-06 13:05] andyzhangx commented on #207
The error said timeout, you may try on agent node to `mount -t nfs -o hard,nfsvers=4.1 nfs-server.default.svc.cluster.local:/ ...`
also may contact RedHat 8.4 support?

[2021-06-10 20:53] #132 closed

[2021-06-17 11:30] mdbooth opened #209 "Potential concurrency regression introduced by #201"
This report is from code inspection only. There is no environment or reproducer.

I believe #201 'remove unnecessary lock' removed a lock which wasn't unnecessary. The fix was for #200. The reporter was doing concurrent mounts, and one would fail with:

Warning FailedMount 3m40s (x1662 over 48m) kubelet MountVolume.SetUp failed for volume "clearml-agent-caching" : rpc error: code = Aborted desc =

[2021-06-17 12:24] jsafrane commented on #209
I think kubelet will never call `NodePublish` & `NodeUnpublish` in parallel on the same volume mount. It may do so for the same volume, but in different pods, and they will have different mount points, so there should be no real conflict.

At the same time, kubelet should retry when it gets Aborted. I think the real issue is why the volume is locked for so long - in the issue #200 I see it failed

[2021-06-17 20:17] kfox1111 commented on #148
@boddumanohar that is a different feature. That is the ability to ask for temporary volumes with no details.

inline ephemeral is needed to replace the built in functionality to directly mount an nfs volume by server:/path specified in the pod spec without making a pv

[2021-06-30 17:28] jhoblitt opened #211 "Support "Ephemeral" volumes"
The builtin nfs storage driver can now be used for "ephemeral" volumes in a pod spec without either an sc or pvc is needed.  E.g.:

[code]

It would be very convenient if the nfs csi driver could be used in a similar way. E.g.:

[code]

Attempting this with the current csi driver will fail with:

[code]

[2021-07-01 03:27] andyzhangx commented on #211
there is a discussion here that we don't want to support Ephemeral Inline Volume for this driver:
https://github.com/kubernetes-csi/csi-driver-nfs/pull/153#issuecomment-849429143

[2021-07-01 17:25] jhoblitt commented on #211
Doh. I checked closed issues but not PR.  For my use case, the NFS exports are persistent and shared between many pods.  It seems a bit heavy weight to have to manage a PVC per mount when the PVC isn't infact doing anything.

Trying to follow the discussion in the PR and the link mail list... is the line volume syntax supposed to work if the `Generic Ephemeral Inline Volumes` feature gate is enabl

[2021-07-05 06:20] andyzhangx commented on #211
Generic Ephemeral Inline Volumes is already supported(beta) in k8s 1.21, e.g.
[code]

While the volume lifecycle is same as pod, it's Ephemeral, not exactly identical to original nfs inline volume:
[code]

[2021-09-07 10:27] #183 closed

[2021-09-09 09:14] juergenthomann commented on #187
Have you tried it with "--mount-permissions=0777"? I think it did not work for me with a single dash at the beginning.

But I'm not sure if that has to be at the driver or controller. I have it currently for both, as the first I tried was not the right one.

[2021-09-20 21:49] jonwilliams84 opened #227 "arm64 support"
Hi,
I am running a mixed architecture kubernetes cluster with some arm7 pi's, x86_64 and a jetson nano (arm64/aarch64).  I have noticed that the image 'mcr.microsoft.com/k8s/csi/nfs-csi:latest' has no arm64 builds so while it pulls on the jetson nano, the container never comes up as it exits with:

[code]

Do you know if there are any alternative images available / where I can grab the source code

[2021-09-22 03:06] #227 closed

[2021-09-22 07:34] andyzhangx commented on #227
`arm64` is  ready on latest image:
[code]

[2021-09-30 03:36] hunterhug opened #231 "confuse I want to ask is it recommended to use nfs in k8s?"
It is not recommended that you use NFS storage for production (especially on Kubernetes version 1.20 or later) as some issues may occur, such as failed to obtain lock and input/output error, resulting in Pod CrashLoopBackOff. Besides, some apps may not be compatible with NFS, including Prometheus.

as below says:

https://kubesphere.com.cn/en/docs/installing-on-linux/persistent-storage-configurati

[2021-10-08 16:44] ghost opened #232 "helm charts not working in k8s 1.22"
[code]

Suggested solution: replace storage.k8s.io/v1beta1 with storage.k8s.io/v1
File: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/charts/latest/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml

[2021-10-09 04:07] #232 closed, assigned to nobody

[2021-10-09 11:22] malikumaliku opened #235 "controller crashes"
In my test setup the controller pod is restarting.
The application layer using the PersistenVolume returns IO errors,
I assume that the crashes in the controller is what makes errors on the application.
Confirmed using kubernetes 1.21.5 and Calico 3.20.1 , 3.20.2

The csi nfs controller "csi-provisioner"  logs gives the following output of the run before the restart

I have tried with several NFS

[2021-10-09 11:25] andyzhangx commented on #235
more details? is this panic related to this project?

[2021-10-09 11:29] malikumaliku commented on #235
Ticket is being updated

[2021-10-12 22:10] malikumaliku commented on #235
4 PV,
With csi-smb I confirm that there are no IO errors.
With NFS 3 and option no locks, seems also ok
With NFS 4.0 and NFS 4.1 errors (with and without locks)

csi-nfs does not work on NFS 3 without deactivating server side locks option.

[2021-10-14 14:06] andyzhangx commented on #235
could you get the `nfs` container logs, I think it should panic in nfs container

[2021-10-16 00:08] kfox1111 commented on #148
/remove-lifecycle rotten

[2021-10-31 17:18] groggemans opened #239 "Latest arm/v7 docker image includes wrong arch plugin"
**What happened**:
Starting the latest container build on an rpi4 exits with `wrong exec format error`;
[code]

**What you expected to happen**:
The image to start successfully.

**How to reproduce it**:
Start the image on an arm v7 target (RPI 4)
[code]

**Anything else we need to know?**:
The downloaded image is for the correct architecture
[code]
Starting the image with `/bin/sh` as the entrypo

[2021-11-01 01:51] zhengtianbao commented on #239
Maybe it's `GOARM` flag missing in go build cmd, in cross compilation situations, it is recommended that  always set an appropriate `GOARM` value along with `GOARCH`.

how about replace this:

[code]

to:

[code]

If it's right, I'd like to make a PR to fix it.

refer: https://github.com/golang/go/wiki/GoArm

[2021-11-01 03:25] andyzhangx commented on #239
I rebuilt `latest` tag with following diff, does it work now?

[code]

[2021-11-01 09:24] groggemans commented on #239
Thank you for the fast reply!

I pulled the latest tag again, but didn't see a change in the layer hash. I might be pulling from the wrong mirror?

So I did have some time to try and dig a bit deeper as well, first started compiling the binary and trying it out on the rpi directly. Building with or without `GOARM` flag didn't seem to make a difference and both worked. Although I do agree that it's

[2021-11-01 13:04] groggemans commented on #239
I initially just moved the `ARG ARCH=amd64` underneath the `FROM` in the docker file but that caused some issues with the code in `release-tools/build.make`, then tried to fix that file as well, but that wasn't allowed by one of the tests. Final solution applied in the PR is to let the `ARG ARCH` have no default, so this results in the same behavior as before if not provided, and properly uses the

[2021-11-02 01:28] #239 closed

[2021-11-03 14:35] #207 closed

[2021-11-09 16:51] jsafrane commented on #148
Why is this valid? The linked document says:

There is no storage class, so the only option is to pass NFS server name + base path via VolumeAttributes. That could allow anyone who can write a pod to access any NFS server reachable to a node. That does not sound right.

I don't think a generic NFS driver should implement in-line ephemeral volumes. Users should use Generic Ephemeral Inline Volumes

[2021-11-09 17:02] jsafrane opened #242 "Drivers should not import kubernetes/kubernetes"
Drivers should not depend on k8s.io/kubernetes repository. It's not a library and it's not intended for consumption by other apps. It does not keep any API compatibility and can break at any time.

I can see that `k8s.io/kubernetes/pkg/volume` is imported for `volume.NewMetricsStatFS`, which wraps `statfs` (Linux) or `GetDiskFreeSpaceExW` (Windows) call. Either reimplement the metrics here or move

[2021-11-09 20:22] kfox1111 commented on #148
There are sites out there that have existing NFS volumes, that are currently being used with the existing pod spec like:
[code]

Yes, this functionality can be a security issue, but when tied in with a policy by PSP, OPA Gatekeeper, or Kyverno, it can be safe for those allowed to use it. If the nfs csi driver is to fully take over from what the current podspec supports, it will need to support thi

[2021-11-10 14:26] jsafrane commented on #148
I can't speak for 3rd party policy management tools, IMO they should not be required to run a safe Kubernetes deployment.
PSP is being replaced. The new Kubernetes pod security standards allows in-line CSI volumes in the restricted policy, [assuming](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2579-psp-replacement/README.md#pod-security-standards):

CSIDriver.Spec is IMO n

[2021-11-14 13:39] #209 closed

[2021-11-22 17:20] seb-835 opened #246 "Controler failed to make subdirectory: mkdir /tmp/pvc-xxxx: read-only file system"
**What happened**:

The CSI-NFS controler refused to create the mount directory  in container :
[code]
But when i attach to the container
[code]
and make  a mkdir /tmp/test,  it works , and i can mount the sharing.

I am sure , i forget something, but i can´t put the finger on, could you help please ?

**Environment**:
- CSI Driver version: 3.0.0
- Kubernetes version :   1.21.4
- OS :  CENTOS 7.9

[2021-11-23 02:05] andyzhangx commented on #246
does `/tmp/pvc-68f3e65a-b286-4d97-94d3-534e260f0568/pvc-68f3e65a-b286-4d97-94d3-534e260f0568` readonly, can you make a directory under that dir?

[2021-11-23 06:59] seb-835 commented on #246
The directory   /tmp/pvc-68f3e65a-b286-4d97-94d3-534e260f0568/    does not exists in tmp that's why i think it fails to create the second subdirectory  :  pvc-68f3e65a-b286-4d97-94d3-534e260f0568  in (with the same name ?)

Is it ok for you  that controller build this : /tmp/pvc-68f3e65a-b286-4d97-94d3-534e260f0568/**pvc-68f3e65a-b286-4d97-94d3-534e260f0568**  ?

[2021-11-23 07:21] andyzhangx commented on #246
the error was caused by: this driver does not have permission to mkdir on the nfs server

[2021-11-23 08:13] seb-835 commented on #246
oh damn, i feel so stupid !!! i close the ticket , thanks for the time spent on this stupid error.

[2021-11-23 08:13] #246 closed

[2021-11-30 20:46] kfox1111 commented on #148
Whatever the replacement is for PSP, (Still unconvinced thats a good idea), it has to deal with the existing functionality where inline ephemeral csi supporting drivers may or may not be safe. There are probably existing drivers supporting unsafe usage.

That being said, I do have a custom webhook that currently validates explicit nfs volumes/config in the pod spec and lets it through under certai

[2021-12-01 02:47] andyzhangx commented on #148
@kfox1111 partially agree with you, for example, we have azure file in-tree driver which provides inline volume, and after strong requirements from users (and some debates), finally we provided exact same inline volume func in azure file CSI driver. The security issue sometimes depends on how users use inline volume, if we don't provide inline volume func, it must be more "secure", while it would

[2021-12-02 07:58] #211 closed

[2021-12-02 19:53] strideynet opened #251 "Container image is missing `/etc/protocols` causing `Output: mount.nfs: Protocol not supported` on NFSv3"
**What happened**:

Attempting to mount a NFSv3 share produces:
[code]

**What you expected to happen**:

It to mount without error.

**How to reproduce it**:

Attempt to use a NFSv3 server.

**Anything else we need to know?**:

During investigation, I found that `exec`ing into the container and running `apt install netbase` which provides the `/etc/protocols` file means I am then able to successf

[2021-12-03 10:53] strideynet commented on #251
Patched docker image available at https://github.com/strideynet/csi-nfs-driver-patched

Use with the following helm values:
[code]

[2021-12-03 15:41] andyzhangx commented on #251
thanks, I have worked out a PR: https://github.com/kubernetes-csi/csi-driver-nfs/pull/253, pls take a look.

[2021-12-03 18:46] strideynet commented on #251
@andyzhangx PR looks good, matches my own implementation of a fix.

[2021-12-04 07:15] #251 closed

[2021-12-06 14:09] andyzhangx commented on #231
that article is about setting up a nfs server on local machine which is not suitable for production. While k8s nfs plugin is production ready.

[2021-12-06 14:09] #231 closed

[2021-12-06 14:10] andyzhangx commented on #251
`mcr.microsoft.com/k8s/csi/nfs-csi:v3.0.0` already fixed the issue, pls try with `ImagePullPolicy: Always`

[2021-12-19 09:20] andyzhangx commented on #187
should be fixed by this PR(https://github.com/kubernetes-csi/csi-driver-nfs/pull/238) in v3.0.0 release

[2021-12-19 09:20] #187 closed

[2021-12-20 22:55] iguyking opened #257 "Deleting PVC doesn't free up PV for re-attaching"
**What happened**:

Created a PV with the NFS Driver pointing at an existing NFS server.

[code]

When I deleted the PVC, `kubectl get pvc` showed that the PVC was removed.

The PV showed it as `Released` though it still has a Claim in it.

[code]

Attempting to create a new PVC against this PV fails with the error:

[code]

**What you expected to happen**:

That since there is a clear PV, I can s

[2021-12-21 03:28] andyzhangx commented on #257
that's expected behavior:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#retain
Retain
The Retain reclaim policy allows for manual reclamation of the resource. When the PersistentVolumeClaim is deleted, the PersistentVolume still exists and the volume is considered "released". But it is not yet available for another claim because the previous claimant's data remains on the volume.

[2021-12-21 03:28] #257 closed

[2021-12-26 21:46] iguyking commented on #257
Thanks.  Sorry for the misunderstanding.

[2021-12-31 05:54] huanghantao opened #260 "Access denied occurs when delete a dynamically created PV (DeleteVolumeRequest does not have VolumeCapabilities)"
**What happened**:
I now dynamically created the PV through NFS StorageClass, but when I deleted the PVC, the NFS provisioner reported the following error:

[code]

it's my `storageclass`:

[code]

**What you expected to happen**:

The PVC can be successfully deleted when the PV is deleted.

**How to reproduce it**:

## install nfs server:

[code]

[code]

[code]

[code]

[code]

## install csi

i

[2021-12-31 06:15] andyzhangx commented on #260
does manual mount on that agent node works? it said permission denied error:
[code]

[2021-12-31 06:23] huanghantao commented on #260
![image](https://user-images.githubusercontent.com/22836925/147806891-f67b6954-c385-4c57-8aab-bc74f8b693a7.png)

at the master node:

[code]

then `ls`:

[code]

[2021-12-31 06:25] andyzhangx commented on #260
so it's permission denied , nfs server config issue?

[2021-12-31 06:25] huanghantao commented on #260
mount with `nfsvers=3` is ok:

[code]

[code]

[2021-12-31 06:27] andyzhangx commented on #260
then add `nfsvers=3` in mountOptions in storage class?

[2021-12-31 06:28] huanghantao commented on #260
I had add `nfsvers=3`, so I can create pvc successffully.

but Why didn't mount use the nfsvers=3 option I specified when deleting pv?

[2021-12-31 06:39] andyzhangx commented on #260
@msau42 @jsafrane that's because `DeleteVolumeRequest` does not have `VolumeCapabilities` field which contains `mountOptions` (`CreateVolumeRequest` has this field), and in this driver, we need `mountOptions` to mount and delete sub folders. Do you think we could add `VolumeCapabilities` field in `DeleteVolumeRequest`, any other workaround?

[2021-12-31 06:42] andyzhangx commented on #260
related code:
https://github.com/kubernetes-csi/csi-driver-nfs/blob/d6c19e714af065e3563929b509078aec34ffb17e/pkg/nfs/controllerserver.go#L130-L133

[2021-12-31 06:44] andyzhangx commented on #260
add a new field `VolumeCapabilities` in `DeleteVolumeRequest` should be time costing effort, I would suggest add a default mountOptions in this driver setting, so if `mountOptions` is not set, just use the default mountOptions, that should workaround.
It looks like we only need mountOptions in `DeleteVolume` now.

[2022-01-03 02:50] #260 closed

[2022-01-04 10:46] andyzhangx commented on #148
@jsafrane  What about add a feature flag in this driver to control whether inline volume is supported or not? If some users want more secure way, they could turn off inline volume support when deploying the nfs csi driver.

[2022-01-04 17:33] kfox1111 commented on #148
Every driver would have to add their own hooks or controls for it. That becomes an sysadmin and dev nightmare. The filtering feature really belongs in the PSP replacement IMO.

[2022-01-04 17:39] kfox1111 commented on #148
@msau42 What do you think? We worked on getting the ability for ephemeral volumes to work stipulated on PSP's being able to restrict access to unsafe drivers. How does this work safely with the PSP replacement?

One idea might be to in the CSIDriver spec to have new flags saying what built in profiles would be safe to use ephemeral with.

I'm still feeling quite restricted by what is being depreca

[2022-01-05 20:11] msau42 commented on #148
Now that we have the generic ephemeral volumes feature, I'm not sure there is a need for general purpose drivers to support the csi inline drivers feature. I would strongly discourage general purpose storage drivers from supporting csi inline volumes, and only encourage it for drivers that are able to expose attributes safely.

[2022-01-05 20:26] kfox1111 commented on #148
General drivers, no. nfs is not a general driver though.

Inline nfs is definitely needed for certain use cases, especially when needing to integrate existing (sometimes hpc) systems with Kubernetes. Its still a supported upstream use case as well. If its not supported in csi-driver-nfs, then its likely to get forked and will be supported in that driver and will be almost identical code.

I think

[2022-01-05 21:05] kfox1111 commented on #148
I found the relevant section: https://github.com/kubernetes/enhancements/pull/2582/files#diff-404b549b970315ca9f80146384602337b076b9dec92b7b5e17d63fbe700aa67eR542-R549

Looks like the default is the new replacement lets all inline ephemeral drivers through, then lets a webhook decide to filter, or it can be enabled/dislabed at the CSIDriver level. The CSIDriver is an all or nothing thing. So would

[2022-01-06 11:09] andyzhangx commented on #148
I have worked out a PR to enable inline volume, the main change is add `- Ephemeral` in CSIDriver, and we could leave this option to user, if user sets `feature.enableInlineVolume` as `true`, then inline volume is enabled, if they wants more secure way, then jus set as `false`, everyone would be happy with this solution?

https://github.com/kubernetes-csi/csi-driver-nfs/blob/16473fb3a58d71d5fe394b

[2022-01-10 03:25] andyzhangx commented on #148
any feedback on this PR? https://github.com/kubernetes-csi/csi-driver-nfs/pull/266

[2022-01-13 02:09] #148 closed

[2022-01-18 17:33] jsafrane commented on #148
Similarly to Pod Security Standards. The webhook gets a Pod, checks what level is in pod's namespace labels (restricted/baseline/privileged), check the driver's policy (I guess that will be different for each driver?) and either admit or reject the pod.

[2022-01-26 02:57] YuikoTakada opened #274 "hack/verify-examples.sh fails with 'secrets "mount-options" not found' error"
**What happened**:

Installed NFS CSI driver v3.1.0 according to https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/install-csi-driver-v3.1.0.md
[code]

then ran bellow:
[code]

failed to create deployment `deployment-nfs` and pvc `pvc-deployment-nfs` .

[code]

**What you expected to happen**:

pvc and deployment created successfully

**How to reproduce it**:

**Anything else we ne

[2022-01-26 13:22] neoaggelos opened #277 "Configurable kubelet directory for Helm charts"
**Is your feature request related to a problem?/Why is this needed**

Currently, the Helm charts of the NFS CSI provisioner hard-code the kubelet directory to `/var/lib/kubelet`. Though common, this may not always be the case for a Kubernetes cluster. This renders the Helm charts unusable in clusters where the kubelet files are stored in a different directory.

**Describe the solution you'd like i

[2022-01-26 14:18] blaargh opened #278 "Make 1 the default number of ReplicaSets for the NFS controller"
**Is your feature request related to a problem?/Why is this needed**
The controller exposes a port for the liveness probe:

     ports:
      - name: healthz
        hostPort: 29652
        containerPort: 29652
        protocol: TCP

On single-node-clusters, when directly deploying the yaml files, either via install script or manually, the second Pod will be stuck in a pending state because the po

[2022-01-27 03:13] #274 closed

[2022-01-28 14:01] #278 closed

[2022-01-29 08:06] #277 closed

[2022-02-03 07:32] blaargh commented on #178
/remove-lifecycle rotten

[2022-02-09 15:28] JPRbrs opened #283 "Add extraLabels to K8s resources"
**Is your feature request related to a problem?/Why is this needed**
I think that having the capability of adding extra labels to k8s resources created by the Helm chart would be advantageous. In my particular case, I'm using CSI-driver-NFS as a dependency and I'd like to label all resources with custom labels.

**Describe the solution you'd like in detail**
I have a small PR ready to add that fun

[2022-02-11 14:45] andyzhangx commented on #283
yes, and you also need to run `cd charts/latest` && `helm package csi-driver-nfs`

[2022-02-11 15:13] JPRbrs commented on #283
Many thanks @andyzhangx !!

[2022-02-15 05:45] #283 closed

[2022-02-15 12:50] #199 closed

[2022-02-17 04:26] andyzhangx opened #287 "[feature request]add NFS volume support for windows"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

details could be found here: https://github.com/kubernetes/kubernetes/issues/56188#issuecomment-672897646

**Describe alternatives you've considered**

**Additional context**

[2022-02-24 11:46] nanmor opened #288 "Failed to install this driver on ppc64le arch"
**What happened**:
Installed csi-driver-nfs
[root@alphabore csi-driver-nfs]# ./deploy/install-driver.sh master local
use local deploy
Installing NFS CSI driver, version: master ...
serviceaccount/csi-nfs-controller-sa created
clusterrole.rbac.authorization.k8s.io/nfs-external-provisioner-role created
clusterrolebinding.rbac.authorization.k8s.io/nfs-csi-provisioner-binding created
csidriver.storage

[2022-02-24 14:37] andyzhangx commented on #288
that's `ppc64le` arch, not sure whether it's supported by all csi driver sidecar images

[2022-02-25 08:54] nanmor commented on #288
I have found other images to replace them, thanks and close it.

[2022-02-25 08:54] #288 closed

[2022-02-25 10:22] guleng commented on #31
@wozniakjan Has the snapshot function been implemented for storage where NFS becomes PV?

[2022-02-25 11:05] andyzhangx commented on #288
@nanmor what's the other images? could you provide more details?

[2022-02-25 11:29] wozniakjan commented on #31
@guleng no, I couldn't find time, my apologies

[2022-02-25 16:25] nanmor commented on #288
The image is from https://catalog.redhat.com/software/containers/openshift4/ose-csi-external-provisioner/5d934605d70cc50ebeaa337e?architecture=ppc64le&container-tabs=gti, and others also search from that website.

[2022-03-13 16:42] #235 closed

[2022-03-13 19:02] itayankri commented on #152
Hi @boddumanohar , can you explain how you solved it?

[2022-03-22 12:51] andyzhangx opened #296 "Cloudbuild is broken"
**What happened**:

refer to
https://k8s-testgrid.appspot.com/sig-storage-image-build#post-csi-driver-nfs-push-images

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2022-03-24 06:59] #296 closed

[2022-03-24 15:51] pierreprinetti opened #300 "Address CVE-2022-21698"
/kind bug

**What steps did you take and what happened:**
See the [Prometheus advisory](https://github.com/prometheus/client_golang/security/advisories/GHSA-cg3q-j54f-5p7p)

**What did you expect to happen:**
The Prometheus client should be upgraded to at least v1.11.1

[2022-03-27 08:47] #300 closed

[2022-04-13 01:57] semenodp opened #312 "[feature request] Add ability to parameterize subdirectory"
**Is your feature request related to a problem?/Why is this needed**
With the current implementation, the subdirectory of nfs volume matches pvc name. However, I would like to be able to point the mount to the already existing subdirectory instead of creating a new directory in the root of nfs server.

**Describe the solution you'd like in detail**
Would like to have subdir variable to be paramete

[2022-04-13 06:27] andyzhangx commented on #312
if you want to mount to existing subdir, why not use PV/PVC directly: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/driver-parameters.md#pvpvc-usage-static-provisioning
set `volumeAttributes.share` as `/subdir`, storage class is for dynamic provisioning while in your case, you don't need to create a new subdir.

[2022-04-13 12:19] semenodp commented on #312
Ah, let me try to do that. I am still seeing Storage Class specified in both static pv and pvc, is that still necessary?
https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/pv-nfs-csi.yaml#L12

[2022-04-13 12:25] andyzhangx commented on #312
@semenodp that's optional, you could set a `storageClassName` or set as `storageClassName: ""`, which is only for PV/PVC binding

[2022-04-13 13:15] semenodp commented on #312
I believe, that worked. Any advantage of using csi plugin over defining nfs field like it's done in kubernetes example (https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pv.yaml) if doing static provisioning?

[2022-04-13 14:34] andyzhangx commented on #312
@semenodp there is no advantage in static provisioning now, while new features would be only added into this driver since the  built-in nfs plugin is in maintenance mode.

[2022-04-13 14:36] #312 closed

[2022-04-22 20:33] achetronic opened #317 "[Feature request] Add support for Volume Snapshots"
**Is your feature request related to a problem?/Why is this needed**
This would be nice to have support for the VolumeSnapshots API in this project for little offices where the snapshots could be automated with tools like SnapScheduler or similar

**Describe the solution you'd like in detail**
Simply add support for the API

**Describe alternatives you've considered**
`n/a`

**Additional context**

[2022-04-23 01:06] andyzhangx commented on #317
hi @achetronic do you have more details about VolumeSnapshots API? Thanks.

[2022-04-23 23:20] achetronic commented on #317
Hello @andyzhangx I am talking about [this API](https://kubernetes.io/es/docs/concepts/storage/volume-snapshots/) which is used to do snapshots using the CSI driver, but it needs several things in Kubernetes, the first is the CSI support for the `csi-snapshotter` and the second is to deploy `external-snapshotter`

These snapshots can be automated to be triggeres periodically with some little opera

[2022-04-24 01:24] andyzhangx commented on #317
@achetronic that's not enough, do you know how to take snapshot on an NFS server? this requires the underlying snapshot functionality support.

[2022-04-24 12:49] andyzhangx opened #321 "[feature request] add volume cloning support"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

could refer to https://github.com/kubernetes-csi/csi-driver-host-path/blob/f5fd42e78f3884ed6b780d23c1c43798a0d29d35/pkg/hostpath/controllerserver.go#L155-L159

**Describe alternatives you've considered**

**Additional context**

[2022-04-24 12:52] andyzhangx commented on #317
one implementation is using `tar` command to take "snapshot" of current volume directory, could refer to
https://github.com/kubernetes-csi/csi-driver-host-path/blob/f5fd42e78f3884ed6b780d23c1c43798a0d29d35/pkg/hostpath/controllerserver.go#L555

[2022-05-02 04:32] achetronic commented on #317
I have been testing different solutions, such as the given by democratic-csi project for a TrueNAS on this stuff and I don't like the possible security risks involved on their approach.

I reviewed you idea better and I think that having a controller for snapshots, and snapshots being stored on the same NFS server, in a different subpath as .tar files could be a great solution.
This would bring th

[2022-05-04 02:41] Elegant996 opened #325 "sticky bit not honored under mountPermissions"
At present, using sticky bit (setuid/setgid) under `mountPermissions` does not apply the correct permissions during `chmod`. Stick bit should be honored and applied so that the fsGroup has proper access.

Thanks!

[2022-05-04 02:42] #325 closed

[2022-05-04 02:43] andyzhangx commented on #325
it works now?

[2022-05-04 02:52] Elegant996 commented on #325
Sorry, was refiling with proper bug report!

[2022-05-04 02:53] Elegant996 opened #326 "sticky bit not honored when mounting volume"
**What happened**:
Applied sticky bit under `mountPermissions` (i.e. `2770`) where `setgid` should be applied to the volume mount but only regular `chmod` permissions were applied (i.e. 0770).

**What you expected to happen**:
`setuid` and/or `setgid` should be honored and applied to the volume mount.

**How to reproduce it**:
Use sticky bit when mounting an NFS volume.

**Anything else we need to

[2022-05-04 03:04] andyzhangx commented on #326
we already support `fsGroupPolicy: File` which means gid should be set if it's defined in pod `securtiyContext.fsGroup`: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

https://github.com/kubernetes-csi/csi-driver-nfs/blob/c0384021447340d2a5bf2c8cb65e47addcf6c682/deploy/csi-nfs-driverinfo.yaml#L11

[2022-05-04 03:09] andyzhangx commented on #326
btw, this driver set mountPermission here:  https://github.com/kubernetes-csi/csi-driver-nfs/blob/c0384021447340d2a5bf2c8cb65e47addcf6c682/pkg/nfs/nodeserver.go#L117-L118
not sure whether there is a quick fix to set gid, uid if `mountPermission` is set as `2770`, the `0` in `0770` means Octal, is `2770` valid?

[2022-05-04 03:14] Elegant996 opened #327 "chmod should not be applied if fsGroupPolicy is set to None"
**What happened**:
Set `fsGroupPolicy: None` and mounted a NFSv4 volume that the `fsGroup` could mount but could not modify the mount permissions. Received error caused by: https://github.com/kubernetes-csi/csi-driver-nfs/blob/a42b320c62c1843cef2ee6758c2cbb557a55c6bb/pkg/nfs/nodeserver.go#L117-L119

Per the [Kubernetes CSI Developer Documentation](https://kubernetes-csi.github.io/docs/support-fsgr

[2022-05-04 03:27] Elegant996 commented on #326
The permissions do not appear to work as an Octal if it is applied as an argument (`--mount-permissions=2770`). The permissions become rather strange...

We opted to use the `master` branch so that we may try `mountPermissions` as a `StorageClass` parameter and the sticky bit appears to be flat out ignored in that secenario.

[2022-05-04 04:18] andyzhangx commented on #327
from the nodeserver, it actually does not know the value of `fsGroupPolicy`, what about if `mountPermission` is set as `0000`, then the `chmod` operation would be skipped, in that case, user still needs to set `mountPermission: 0000` in storage class

[2022-05-04 08:49] Elegant996 commented on #327
This works, can set it as the "default" using the `--mount-permissions=0` parameter in the pod and then override through `StorageClass` as needed.

[2022-05-04 12:47] #327 closed

[2022-05-10 02:44] johnsimcall commented on #114
Hi csi-driver-nfs! I have this same question. Your README says:

but there is nowhere to specify the FQDN/IP address and path of my NFS server. Instead it appears to me that this project creates an NFS server inside a Kubernetes cluster. Have I misunderstood?

[2022-05-10 02:58] andyzhangx commented on #114
creating an NFS server inside a k8s cluster is just an example: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/nfs-provisioner/README.md, it's actually out of this csi driver's scope.

I refined the example doc a little: https://github.com/kubernetes-csi/csi-driver-nfs/tree/master/deploy/example#storage-class-usage-dynamic-provisioning

[2022-05-10 16:34] madhosoi commented on #260
Hi @andyzhangx,
I was setting the mountOptions as proposed in the documentation, but I only make it works only defining it only with "nfsvers=3" without any other option.

Is it what is expected?
If it is , please update the example. If not, could you tell me how to define any other option, because I cannot manage to make it works.

Thanks!
Miguel

[2022-05-11 02:31] andyzhangx commented on #260
@madhosoi do you know what's the non working mountOptions, and what's the error msg? I think that depends on the nfs server

[2022-05-11 07:11] madhosoi commented on #260
Hi @andyzhangx , thanks for the quick answer!
I've tried with `nfsvers=3, hard` as it is defined in the documentation, then with `nfsvers=3, hard, noatime, tcp, rw` as it is done in the **storageClass** definition.

`kubectl create secret generic mount-options --from-literal mountOptions="nfsvers=3,hard"`

But I saw in the code a condition that compares the string **mountOptions** with **nfsvers=3

[2022-05-11 07:18] andyzhangx commented on #260
seems it's better we use soft mount according to https://kb.netapp.com/Advice_and_Troubleshooting/Data_Storage_Software/ONTAP_OS/What_are_the_differences_between_hard_mount_and_soft_mount?msclkid=08a281b5d0fa11ec91c1711b4a0c890d

[code]

[2022-05-11 17:12] Elegant996 commented on #326
`fsGroupPolicy: File` enables `setgid` on the mount but the same should be achievable through `fsGroupPolicy: None` and then adding the sticky bit by hand. This has broughten up another issue though. Will file it separately.

[2022-05-11 17:21] Elegant996 opened #337 "Bypass chmod if mounting point permissions are correct"
**Is your feature request related to a problem?/Why is this needed**

With larger NFS mounts, `chmod` can stall the pod for quite some time when applying `mountPermissions`.

**Describe the solution you'd like in detail**

Check if the permissions on the mounting point are correct before applying `chmod`. If they are, ignore `chmod`. Perhaps provide an override option as well/instead?

**Describe

[2022-05-12 05:08] andyzhangx commented on #337
as I know,  `chmod` does not change permission recursively, will it has performance issue on a dir with large num of files?

[2022-05-12 07:35] andyzhangx commented on #326
o, recently I realized that we should set `fsGroupPolicy` as `ReadWriteOnceWithFSType` by default, for NFS, I don't think we should set group id recursively on the volume mount:

https://github.com/kubernetes-csi/csi-driver-nfs/blob/e9ceb486bc6f307b7e54c96b137e8a55f8d0cd62/deploy/csi-nfs-driverinfo.yaml#L11

[2022-05-13 03:24] #337 closed

[2022-05-15 02:42] andyzhangx commented on #326
you could now set `mountPermissions=0` in storage class parameters to skip chmod with master branch image (`gcr.io/k8s-staging-sig-storage/nfsplugin:canary`):
https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/driver-parameters.md#storage-class-usage-dynamic-provisioning

[2022-05-16 06:30] Elegant996 commented on #326
Opted for a combination of setting the `--mount-permissions=0` (since most of our mounts use ACLs) and changing to `fsGroupPolicy: ReadWriteOnceWithFSType`.  We will specify the permissions of those that are not manually which should simplify everything.

[2022-05-16 06:30] #326 closed

[2022-05-16 08:23] andyzhangx commented on #326
@Elegant996 I am still stuggling whether we should set `fsGroupPolicy: ReadWriteOnceWithFSType` by default for this nfs csi driver, it's now `fsGroupPolicy: File` by default.  @gnufied do you have any guidance on this?

[2022-05-24 17:25] Eshva opened #344 "Wrong node selector for runOnMaster=true value of helm chart"
**What happened**:
If one uses value `runOnMaster: true` of helm chart the result `csi-nfs-controller` pods have wrong node selector:
[code]
...and can't be scheduled due lack of such nodes.

The problem in `kubernetes.io/role: master`. Master nodes (at least on Kubernetes 1.23) have no such label:
[code]
...but of course have corresponding role.

**What you expected to happen**:
I see only 2 poss

[2022-05-28 14:55] andyzhangx commented on #344
let me change to matching `node-role.kubernetes.io/master: ""` with a new PR, thanks for pointing out.

[2022-05-31 22:03] #344 closed

[2022-06-01 13:07] himanshuz2 commented on #287
Yes I need this feature. Make NFS CSI driver to work on Windows Nodes also.

[2022-06-13 07:47] huanghantao opened #351 "deploy/uninstall-driver.sh can't clean rbac"
**What happened**:

[code]

**What you expected to happen**:

clean old version rbac

**Anything else we need to know?**:

A similar problem occurs during installation and uninstallation. The script in the master branch was changed.

[2022-06-14 08:30] huanghantao opened #352 "When a csi-nfs-node error occurs, the rpc.statd zombie process is generated"
**What you expected to happen**:

When a csi-nfs-node error occurs, the `rpc.statd` zombie process is generated:

[code]

[code]

csi-nfs-node will emit an error every two minutes, and a zombie process will be generated.

**How to reproduce it**:

I don't know how to reproduce.

**Anything else we need to know?**:

**Environment**:
- CSI Driver version: v3.1.0
- Kubernetes version (use `kubectl ve

[2022-06-14 09:07] andyzhangx commented on #352
the error recommendation is using `-o nolock`

[2022-06-14 09:35] huanghantao commented on #352
Thank you!

[2022-06-14 09:35] #352 closed

[2022-06-14 11:55] jsafrane commented on #242
/remove-lifecycle rotten

[2022-06-14 12:24] andyzhangx commented on #351
pls run following command to clean up v3.1.0 deployments:
[code]

[2022-06-14 12:25] andyzhangx commented on #351
btw, actually you could run `./deploy/uninstall-driver.sh v4.0.0 local` to clean up deployments, there is not much difference.

[2022-06-14 12:25] #351 closed

[2022-06-20 09:00] MagicRB commented on #178
/remove-lifecycle rotten

[2022-06-22 18:32] yingding opened #354 "csi-driver-nfs stops working and can't provision after microk8s node restart"
**What happened**:
I have a 3 nodes microk8s cluster, and works fine with v4.1.0 helm3 charts of csi-driver-nfs. I installed the csi-driver-nfs following the instruction from https://microk8s.io/docs/nfs, after i restarted two worker nodes of microk8s, the csi-driver-nfs stops working. There is no error in the logs of csi-driver-nfs controller and nodes

**What you expected to happen**:
After the

[2022-06-23 01:29] andyzhangx commented on #354
if `csi-nfs-controller` is running on one worker node which is restarting, the `csi-nfs-controller` would not accept any request, so that's by design.

[2022-06-23 09:44] andyzhangx commented on #354
@yingding not sure, I think you should get `kubectl logs csi-nfs-controller-56bfddd689-dh5tk -c nfs -n kube-system -c csi-provisioner` to take a look if there is any PVC provision.

[2022-06-23 09:49] yingding commented on #354
@andyzhangx Thanks, next time wenn i run into this issue. I will try `kubectl logs csi-nfs-controller-56bfddd689-dh5tk -c nfs -n kube-system -c csi-provisioner` to see if `-c csi-provisioner` option gives me further log infos.

[2022-06-28 11:53] yingding commented on #354
ok. I fall back to helm3 chart v4.0.0 and every thing works now. It is an issue of v4.1.0.

[2022-06-28 14:27] andyzhangx commented on #354
I will try release v4.1.0 version late this week.

[2022-06-29 07:09] yingding commented on #354
Thanks, I thought initially I have to use v4.1.0 since it supports 1.20+ and my k8s is 1.21.12

[2022-07-04 16:07] igoooor opened #359 "GKE 1.24 mount.nfs: Failed to resolve server nfs-server.default.svc.cluster.local: Name or service not known"
**What happened**:
I'm using a cluster from GCP, kubernetes version 1.24, I installed and followed the example from the repository.
The pod mounting the nfs PVC can not start and here is the output:
[code]

**What you expected to happen**:
Volume to be mounted.

**How to reproduce it**:
- Create a new cluster in GCP, using default settings and select kubernetes version 1.23 (or 1.24)
- Install CSI

[2022-07-04 23:18] igoooor commented on #359
So I don't think my issue was related to csi-driver, but I managed to build a solution.
Looking at these two links:
https://cloud.google.com/solutions/automatically-bootstrapping-gke-nodes-with-daemonsets
https://github.com/GoogleCloudPlatform/solutions-gke-init-daemonsets-tutorial
I built the following manifest:
[code]

This allows me to add the kube-dns into the node, which was missing. Now my s

[2022-07-04 23:18] #359 closed

[2022-07-05 16:07] nheinimann opened #361 "Race condition between dynamic PVC creation and deployment scheduling"
**What happened**:

I have a 19 node Kubernetes bare metal cluster set up using kubeadm.
I installed the csi-driver-nfs 4.2.0 using helm according to the instructions provided in this repository.
Only the default values were used.

I then created a StorageClass:

[code]

I then tried testing the setup with an example adapted from this repository for dynamic provisioning:

[code]

This results in t

[2022-07-06 03:41] andyzhangx commented on #361
I think your agent node has some issues per below error msg, I don't think it's related to this driver:
[code]

if there is sth. wrong with the driver, pls get driver controller logs: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/csi-debug.md#case1-volume-createdelete-failed

[2022-07-06 09:49] jobcespedes opened #362 "image nfsplugin v4.1.0 not available in new registry"
**What happened**:
`Back-off pulling image "registry.k8s.io/sig-storage/nfsplugin:v4.1.0`

**What you expected to happen**:
Successfully pulling image

**How to reproduce it**:
Install v4.1.0

**Anything else we need to know?**:
`gcr.io/k8s-staging-sig-storage/nfsplugin:v4.1.0` is available instead

[2022-07-06 09:51] andyzhangx commented on #362
depends on PR merged: https://github.com/kubernetes/k8s.io/pull/3923

[2022-07-11 07:38] nheinimann commented on #361
I'm pretty sure it's related to something in my local setup, thank you for the support.

I'm not sure what it is but if it's something relevant to the NFS CSI Driver I'll open up a more specific issue again.

[2022-07-11 07:38] #361 closed

[2022-07-16 08:06] Sh4kE commented on #317
Yes please add this functionality. I would really benefit from it.

[2022-07-28 00:14] dobsonj opened #364 "Ephemeral volume lifecycle mode is enabled by default"
**What happened**:

The `Ephemeral` volume lifecycle mode is enabled by default in [csi-nfs-driverinfo.yaml](https://github.com/kubernetes-csi/csi-driver-nfs/blob/c78a98288f3d648cf9d6147fa310444a7f228640/deploy/csi-nfs-driverinfo.yaml#L10), which could surprise some admins that deploying this CSI driver allows mounting of any NFS share by users who are only allowed to create pods.

**What you expe

[2022-08-03 04:31] andyzhangx commented on #364
so do you mean we should disable it by default?

[2022-08-03 11:35] ahachmann commented on #317
I also would love to have this possibility. K10 and Trilio are backup solutions that depend on CSI drivers that can take snapshots. At the moment when using the nfs csi driver, backups are not possible as the csi driver does not support the snapshots. Anyone already working on this?

Cheers,
Alex

[2022-08-03 11:57] achetronic commented on #317
Hello @ahachmann I have no time to work on this feature so I proposed it to the maintainers, but no idea of the state of the art right now

[2022-08-04 12:56] sunil-barhate opened #369 "Can not use two nfs PV/PVCs in single application"
**What happened:**
Used two nfs PV/PVCs in single pod/application then the pod remained in container creating state due to mount failure.

**What you expected to happen:**
The pod/application should be in running state, which should have mounted two nfs mount points inside the pod

---

**How to reproduce it:**
**1. Deploy the csi-driver-nfs driver**
**2. Deploy the nfs pod**
**3. Deploy the follo

[2022-08-04 12:58] andyzhangx commented on #369
pls don't use same volumeHandle in two PVs:
[code]

[2022-08-04 13:06] sunil-barhate commented on #369
even if I try diff volumehandle id it is not working.

[2022-08-04 18:06] #369 closed

[2022-08-05 12:45] andyzhangx commented on #364
pls use helm chart install this driver, in helm chart, it's disabled by default: https://github.com/kubernetes-csi/csi-driver-nfs/blob/6dbf2cdd70321ddd39a9e76922971ca03a980e9e/charts/latest/csi-driver-nfs/values.yaml#L34

[2022-08-05 12:51] andyzhangx commented on #317
could refer to the hostpath csi driver snapshot implementation: https://github.com/kubernetes-csi/csi-driver-host-path/blob/9be5dd74a7fc2436c4334820156056b74821998e/pkg/hostpath/controllerserver.go#L497-L585
any volunteer?

[2022-08-09 19:54] dobsonj commented on #364
Disabling by default is probably the simplest solution, yes. An admin who understands the risks can still explicitly enable it if it's important for their use-case, but I don't think it's a good idea to have it enabled by default because it gives any user who can deploy pods the ability to mount any accessible NFS share. When ephemeral volumes are disabled, this ability would be restricted to the

[2022-08-17 17:46] #364 closed

[2022-09-16 10:22] amolmote opened #376 "Broken Link Need to Fix"
I have observed same kind of issue in various kubernetes-csi project.
this happens because after the localization there are too much modifications done in the various directories.
I have observed same issue in [this ](https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/CONTRIBUTING.md) page also.
It has one broken link of the `contributes  cheatsheet` which needs to fix.
I will try to loo

[2022-09-16 12:55] #376 closed

[2022-09-18 09:04] MagicRB commented on #178
/remove-lifecycle stale

[2022-09-21 15:03] #321 closed

[2022-10-11 11:50] dcarrion87 opened #381 "Ability to reference PVC annotations in StorageClass subDir"
**Is your feature request related to a problem?/Why is this needed**

- Requirement to pass custom naming of the subDir for dynamic provisioning.
- At the moment only `${pvc.metadata.name}`, `${pvc.metadata.namespace}`, `${pv.metadata.name}` are supported.

**Describe the solution you'd like in detail**

- Ability to reference annotations from the PVC in the storageclass subDir.

**Describe altern

[2022-10-11 11:54] dcarrion87 opened #382 "Delete the PV but retain the NFS subDir when dynamic provisioned"
**Is your feature request related to a problem?/Why is this needed**

- When deleting a PVC with Retain policy the PV goes to Released and lingers forever.
- We want the ability to just remove the PVs but retain the underlying subDir that was created.

**Describe the solution you'd like in detail**

- When using dynamic provisioning, provide an option to Delete the PV without actually deleting the

[2022-10-11 11:58] andyzhangx commented on #382
you could set `reclaimPolicy: Retain` in storage class to retain subDir when PV is deleted.

[2022-10-11 12:01] dcarrion87 commented on #382
That's what I currently have but it leaves the PV around and I need to `kubectl delete pv <random-id-nfs-csi-created>` the Released PV afterwards.

[2022-10-11 12:07] dcarrion87 commented on #382
@andyzhangx I should have mentioned there's a similar feature:

onDelete: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner

[2022-10-14 13:33] jsafrane commented on #242
/remove-lifecycle rotten

[2022-10-20 07:50] lixd opened #384 "not support rwo access mode"
**What happened**:
i created a pvc with rwo access mode,and it can be used with two pod,which running on different node
**What you expected to happen**:
rwo pvc should not mount to different node.
**How to reproduce it**:
1.created a pvc with rwo access mode,
2.create to pod used this pvc,and use nodeSelector to schedule to different node
**Anything else we need to know?**:

**Environment**:

- CS

[2022-10-20 07:54] lixd commented on #384
infact，I use rwo mdoe,and this pvc can used as rwx,there is no limit

[2022-10-24 02:53] #384 closed

[2022-11-04 10:37] systemstart commented on #317
Cancelled? Ran into trouble you would share?

[2022-11-07 13:21] achetronic commented on #317
I think this is because the lack of developers on the k8s projects. We could join and code it on ourselves to share it?

[2022-11-08 01:50] andyzhangx commented on #317
sorry I don't have the bandwidth now, pls feel free to contribute and I could also review the PR, thanks.

[2022-11-16 16:30] pawcykca opened #387 "Default 0777 permission for the mounted folder of NFS share on Kubernetes Node"
**What happened**:
Version 3.0.0 of csi-driver-nfs doesn't enforce any permissions for the mounted folder.
The new 'mount-permissions' parameter (that was implemented) had no default value (chmod operation wasn't performed) and permissions were set based on system's umask configuration.

In version 3.1.0 of csi-driver-nfs this behavior has been changed (by this commit https://github.com/kubernetes

[2022-11-17 12:10] andyzhangx commented on #387
good catch, I think you are right, default mountPermissions should be 0, here is the fix: https://github.com/kubernetes-csi/csi-driver-nfs/pull/388

[2022-11-18 08:23] andyzhangx commented on #387
@pawcykca could you take a look at this PR(https://github.com/kubernetes-csi/csi-driver-nfs/pull/388)? thanks.

[2022-11-18 12:39] pawcykca commented on #387
Looks OK from my perspective.

[2022-11-26 08:29] #354 closed

[2022-11-28 16:13] oreissig opened #390 "Support Encryption-in-Transit"
**Is your feature request related to a problem?/Why is this needed**
For compliance reasons I need to utilize Encryption-in-transit for accessing remote filesystems (in my case AWS EFS).

AWS recommends to use a proprietary mount helper to accomplish this, but actually the mechanism is not proprietary to EFS at all. Instead it can also be accomplished by a simple stunnel TLS tunnel.

**Describe th